html,
body {
  padding: 0;
  background: #E5E5E5;
  margin: 0;
  /* font-size:62.5% !important; */
}
.custom-nv-i{
  padding-right:10px;
  padding-top:3.9px;
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.custom-nav{
  background: #FFFFFF;
  padding:24px;
  /* overflow: hidden;  */

}

.bran{
  width: 71px !important; 
  height: 29px !important;
  font-family: 'Inter' !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 24px !important;
  /* identical to box height */

  /* margin-right:221px; */
  /* Twitcast purple */

  color: #7749F8 !important;
}
.input-search{
  width: 264px;
height: 42px;
background: #FAFAFA;
border: 1px solid #CDCFD4;
border-radius: 50px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
padding-left: 8px;
/* identical to box height */


color: #4F5867;
}

.nav-end{
  display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 12px;
/* 
width: 190.37px;
height: 34px; */


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.nav-end p{
  margin-top:12px;
}

.navst{
  width: -webkit-fill-available;
  height: 800px;
  background: #FFFFFF;
}

.jumbot{
  width: -webkit-fill-available;
height:auto;
margin:20px;
padding:12px;
background: #FFFFFF;
border-radius: 14px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.h1t{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 2.5rem;
margin-top:10px;
color: #191635;
}


.j-input{
  width: 502px;
height: 50px;
background: #FAFAFA;
/* Stroke */
padding-left:10px;
border: 1px solid #CDCFD4;
border-radius: 25px;
}

.imagebox{
  width:300px;
  height:250px;
}
.ste{
  
}
.sma{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
/* identical to box height */

text-decoration-line: underline;
margin-left:25px;
/* blues */

color: #007BFF;

}
.k select{
  width: 152px;
  height: 46px;
  border-radius: 50px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 16px;
/* identical to box height */


/* Twitcast purple */

color: #7749F8;
padding:12px;
border: 1px solid #7749F8;
border-radius: 50px;
}
.k button{
  width: 152px;
  height: 46px;
  background: #7749F8;
border-radius: 50px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 13px;
border: none;
/* identical to box height */

text-align: center;

/* white */

color: #FFFFFF;
}
.first-{
  padding:40px;
}

.table-l{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 35px 35px;
gap: 10px;
margin:20px;
padding:12px;
width: -webkit-fill-available;
/* height: 100%; */

background: #FFFFFF;
border-radius: 14px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.myd{
  width:-webkit-fill-available;
}
.myd h5{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
/* identical to box height */


color: #191635;

}
.myd button{
  background: rgba(119, 73, 248, 0.1);
border-radius: 50px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 13px;
width: 125px;
height: 44px;
/* identical to box height */
border:none;

/* Twitcast purple */

color: #7749F8
}
.cuu a{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Twitcast purple */


}
.nt{
  color: #7749F8;
  border-bottom:3px solid #7749F8;
}
.tbb thead{
  background: #EFEFEF;
border-radius: 6px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;


/* Headline grey */

color: #5F6868;
}
.tbb thead input {
  background: #FFFFFF;
border: 1px solid #636A77;
border-radius: 16px;
}
.tbb tbody tr{
  
  height: 69px;
padding-top:12px;
background: #FCFCFC;
align-items:center;
}
.tbb tbody tr td{
 
  align-items:center;
  align-self:center;
}
.tbody input{
  background: #FFFFFF;
border: 1px solid #636A77;
border-radius: 16px;
}
.tx{
  /* background: #EB5757; */
}
.tbys{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */


/* Gray text */

color: #737B7B;
}
.sa{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 16px;
/* identical to box height */


/* Gray text */

color: #737B7B;
}
.btn-{
  width: 96px;
height: 31px;

background: rgba(86, 196, 86, 0.2);
border-radius: 50px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
/* identical to box height */
border:none;
text-align: center;

/* green */

color: #56C456;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.dte{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 13px;
/* line-height: 16px; */
/* identical to box height */


/* Gray text */

color: #737B7B;
}
.do{
  width:-webkit-fill-available;
  /* height:100%; */
  background: #FFFFFF;
  align-items: center;
  justify-content:center;
}
.txt{
  margin-left:20px;
  
}
.tkyi{

/* Light shadow */
/* height:100%; */
/* box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16); */
border-radius: 12px;
}
.ttu{
  width:-webkit-fill-available;
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 49px 30px;
gap: 352px;

width: 1110px;
height: 146px;

/* background: #FFFFFF; */
border-radius: 14px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.ttu h1{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 48px;

color: #191635;

}
.bh{
  width: 152px;
height: 46px;

background: #7749F8;
border-radius: 50px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 16px;
/* identical to box height */
border:none;
text-align: center;

/* white */

color: #FFFFFF;
}

.wrapper{
  width:300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 1em;
}
.cc{
  background: #F8F8F8;
border: 1px solid #D8D8D8;
border-radius: 4px;
width: 130px;
height: 130px;
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 12px;
gap: 12px;
}

.tkkp{
  padding:30px;
}
.b-t{
  border-top: 1px solid #CDCFD4;
  padding-top:20px;
  width:-webkit-fill-available;
}
.b-t-p{
  border-left:1px solid #CDCFD4;
}
.sse{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12.5323px;


margin-top:7px;
/* Headline grey */

color: #5F6868;

}
.sound{
  margin-top:-18px;
}
.btt{
  background: #7749F8;
border-radius: 50px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 16px;
/* identical to box height */
border:none;
text-align: center;
width: 134.97px;
height: 46px;
/* white */

color: #FFFFFF;
}
.btz{
  border: 1px solid #7749F8;
border-radius: 50px;
width: 135.99px;
height: 46px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 16px;
/* identical to box height */

text-align: center;
background-color: #ffffff;
/* Twitcast purple */

color: #7749F8;
}

.kdr{
  font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 153% */
background: #F8F8F8;
border: 1px solid #D8D8D8;
border-radius: 4px;
display: flex;
align-items: center;
width: 468px;
height: 94px;
color: #757575;
}
.t8{
 
  
  border-top: 1px solid #CED4DA;
}
.pofile{
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;


/* Text body */

color: #343A40;

}
.fic{
  padding:20px;
  justify-content: space-between;
}
.fitc{

  justify-content: space-between;
}
.btsn{
  width: 140px;
height: 37.39px;

/* Twitcast purple */

border: 1px solid #7749F8;
border-radius: 50px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 13px;

/* identical to box height */

text-align: center;

/* Twitcast purple */

color: #7749F8;

}
.kk{
  height: 1000px;
}
.admin-card1{
  background: #FFFFFF;
border-radius: 11px;
width: 130px;
height: 130px;
}
.plus{
  background: rgba(119, 73, 248, 0.1);
border-radius: 6.13059px;
width: 67.44px;
height: 67.44px;
}
.plus-text{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;


/* Gray text */

color: #737B7B;
}
.high{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 13.6854px;
margin-bottom:-12px;
/* identical to box height */


/* Gray text */

color: #737B7B;
}
.mid{
  margin-bottom:-12px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 54.7417px;


/* Gray 1 */

color: #333333;

}
.low{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 11.1194px;


/* Blue 1 */

color: #2F80ED;
}
.mai-card{
  width: 290px;
height: 130px;
justify-content: space-between;
background: #FFFFFF;
border-radius: 14px;
}
.vectorperson{
  background: rgba(0, 123, 255, 0.1);
  border-radius: 8.55339px;
  width: 94.09px;
height: 94.09px;
}
.mida{
  width: 171.92px;
height: 93.83px;
}

.vc1{
  background: rgba(235, 87, 87, 0.1);
  border-radius: 8.55339px;
}
.vc2{
  background: rgba(242, 153, 74, 0.2);
  border-radius: 8.55339px;
}
.tgf div:nth-child(1){
  width:66.5%;
}
.tgf div:nth-child(2){
  width:33.5%;
}
.first-la div{
  width:50%;
}
.first-la div:nth-child(1){
  width:20%;
}
.tnav{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 13px;

color: #737B7B;
}
.tnav:hover{
  background: rgba(119, 73, 248, 0.1) !important;
  border-radius: 50px;
  color: #7749F8 !important;
}
.item-active{
  background: rgba(119, 73, 248, 0.1) !important;
  border-radius: 50px;
  color: #7749F8 !important;
}

.tiibottom{
  background: #FFFFFF;
/* Light shadow */

box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
border-radius: 8px;
}
.tesfirst{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 12px;
/* identical to box height, or 75% */


/* Headline grey */

color: #5F6868;

}
.teslast{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 12px;
/* identical to box height, or 86% */


/* Icons */

color: #9AA0A8;

}

.ggg{
  background: #FAFAFA;
border-radius: 8px;
}

.auth{
  background: #FFFFFF;
  width:-webkit-fill-available;
  height:-webkit-fill-available;
  /* padding-bottom: 100px; */
  padding:50px;
}
.auth-t{
  background: linear-gradient(135deg, #43CBFF 0%, #7749F8 60.58%);
  padding-left:50px;
  padding-top: 101px;
  padding-bottom:240px;
  border-radius: 15px 0px 0px 15px;
}
.auth-t h1{
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
/* identical to box height */


/* Twitcast purple */

color: #7749F8;
padding-bottom: 85.14px;

}
.auth-text{

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #FFFFFF;

}

.auth-form{
  padding-top:101px;
  padding-left:95px;
  
}
.auth-form h5{
  font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
/* identical to box height */

display: flex;
align-items: center;

color: #757575;
}
.auth-form h4{

  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height */
  
  display: flex;
  align-items: center;
  
  color: #333333;
}

.auth-form label{
  font-family: 'Mulish';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* identical to box height */

display: flex;
align-items: center;

color: #333333;
}

.auth-form input::text{
  background: #F8F8F8;
border: 1px solid #D8D8D8;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 21px;
/* or 175% */

display: flex;
align-items: center;

color: #757575;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}
.bn-auth{
  background: #7749F8;
  color: #FFFFFF;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

}
.neuser{
  font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

display: flex;
align-items: center;
padding-top: -20px;
color: #333333;

}

.ppppuser{
margin-top:-20px;
}